/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	margin:0 10px;
	padding:0;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
	margin:0 0 10px 0;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

#header {
	width: 100%;
	border-bottom:1px solid #dcdcdc;
	position: relative;
	padding:3px 0 3px 0;
  margin-bottom: 10px;
}

#header_home {
  width: 289px;
  height: 51px;
  background: transparent url(/images/logo.png) no-repeat scroll 0 0;
  text-indent: -9999px;
  display: block;
  margin: 5px 10px;
}

#login {
	float:left;
}

#register {
	float:left;
	border-left:1px solid #dcdcdc;
	padding:0 0px 0 30px;
	margin:0px 0 0 30px;
}

#login h1, #register h1 {
	margin:0 0 18px 0 !important;
}

#register p, #login p {
	margin:10px 0;
}

#register label, #login label {
	width:150px;
	display:block;
	float:left;
}

#register input, #register input {
	float:left;
}

#links {
	float: left;
	width: 60%;
  text-align: center;
  margin:; 0 auto;
}

#links li {
	float: left;
	margin: 0 10px;
}

#pagecontainer {
	position: relative;
	width:97%;
  padding: 0 1%; 
}

#pagecontainer form h3 {
	padding: 0;
	margin: 5px 0px;
}

#loggedin {
  border-top:1px solid #dcdcdc;
  line-height: 30px;
  width: 100%;
}

#auth_container {
	float: right;
  width: 39%;
	text-align: right;
}

#login input {
	font-size: 10px;
}

/* need to add */
.clearfix:after{
	content: ".";
	display: block;
	height:0;
	line-height: 0;
	clear:both;
	visibility: hidden;
}
/* Hides from IE-mac\*/
* html .clearfix {height: 1%;}
/*End hide from IE-mac */


.hidden {
	display: none;
}

.util_links {
	height: 20px;
	line-height: 20px;
}

.util_links li {
  float: left;
  margin-left: 15px;
}

.util_links li:first-child {
  margin-left: 0px;
}

#boardset {
	border: 1px solid #DCDCDC;
	width: 65%;
}

#boardset div.boardset_board {
	border-bottom: 1px dotted #DCDCDC;
}

#boardset div.boardset_boardheader {
	background-color: #efefef;
	padding:5px;
}

#boardset div.boardset_boardname {
	float: left;
	font-size:16px;
}

#boardset div.boardset_boardactivity {
	float: right;
	font-size:12px;
	color:#898989;
	line-height:16px;
}

.boardset_boardthread {
	padding:2px 5px 2px 6px;
}

#boardset div.boardset_boardthread_subject {
	float: left;
	font-size:20px;
}

#boardset div.boardset_boardthread_replies {
	float: right;
	font-size:20px;
}

#boardset div.boardset_boardcreator {
	float: right;
}

.board {
	
	border: 1px dotted #DCDCDC;
}

#board_header {
	height: 20px;
	line-height: 20px;
	background-color: #DCDCDC;
}

#board_header div {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	color: #000;
}

.boarditem {
	height: 24px;
	line-height: 24px;
	border-bottom: 1px dotted #DCDCDC;
  color: #000;
  text-decoration: none;
  display: block;
}

.boarditemlast {
	border-bottom: 0px;
}

.boarditem:hover {
	background-color: #DCDCDC;
}

.boarditemmouseover {
	background-color: #DCDCDC;
}

.boarditem span {
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.board_threadname {
	width: 49%;
  color: #345678;
  text-indent: 5px;
}

.board_threadcreatedby {
	width: 15%;
}

.board_threadcreatedate {
	width: 20%;
}

.board_threadreplies {
	text-align: right;
	width: 15%;
}

.add_message {
	background-color: #DCDCDC;
	position: absolute;
	padding: 5px 20px 20px 20px;
	top: 100px;
	left: 15%;
	width: 60%;
}

.add_message_subject {
	width: 100%;
	display: block;
}

.add_message_text {
	width: 100%;
	height: 250px;
	display: block;
}


#buttons{
	position: absolute;
	right: 15px;
}

a.linkbutton {
	display: block;
	float: left;
	border: 1px solid black;
	margin-right: 5px;
	line-height: 16px;
	height: 16px;
	padding: 0px 10px;
	background-color: #FFFFFF;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a.linkbutton:hover {
	background-color: #EFEFEF;
}

.thread {
  margin-bottom: 50px;
}

#messages * {
  max-width: 100%;
}

div.message {
	position: relative;
	margin: 5px 0;
}

div.message div.message_content {
	border: 1px dotted #DCDCDC;
	padding: 3px;
}

div.message div.changed_subject {
	font-style: italic;
}

div.message div.message_info {
	text-align: right;
	float:right;
	color: #ACACAC;
	margin-left: 25px;
}

div.message div.message_options {
	height: 14px;
	text-align: right;
}

div.message div.message_options_content {
	display: none;
}
div.message:hover div.message_options_content {
	display: block;
}


div.message div.message_author {
	display: inline-block;
	margin-left: 5px;
}

div.message div.message_source {
	display: inline-block;
	margin-left: 5px;
}

div.message div.message_date {
	display: inline-block;
}


/* new stuff to keep on redo */
.boarditem.new .board_threadname {
  text-indent: 50px;
  background: transparent url(/images/new.png) no-repeat scroll left top;
}

#loadmore {
  display: none;
  margin: 10px 0;
}

#notifier {
  position: fixed;
  top: 25px;
  right: 50px;
  width: 200px;
  z-index: 999999
}

#notification_badge {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
}

#notification_badge_count {
  color: #830257;
}

#notifier .notification {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #444444;
  color: #FFFFFF;
  border: 2px solid #CBCBCB;
}

#notifier .notification .close {
  position: absolute;
  display: block;
  padding: 3px;
  top: 0px;
  right: 5px;
  color: #FFFFFF;
  text-decoration: none;
}



.sc_create_reply {
  display: none;
  position: fixed;
  width: 40em;
  top: 2em;
  left: 50%;
  margin-left: -20em;
  background-color: #FFF;
  color: #000;
  border: .2em solid #CBCBCB;
  z-index: 100;
  padding: 1em;
}

.loading {
  display: none;
}

#createmessage {
  width: 40em;
}

#createmessage fieldset {
  margin-bottom: 1em;
}

#createmessage fieldset.buttons input.button {
  float: right;
  margin-left: 1em;
  font-size: 1.2em;
  padding: .5em;
  background-color: transparent;
  border-width: .2em solid black;
}

#createmessage fieldset strong {
  margin-top: 2.5em;
  margin-bottom: -1em;
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  clear: both;
}

#createmessage label, #createmessage a.submit_email {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
}

#createmessage a.submit_email {
  text-decoration: none;
  margin-top: .25em;
  color: #123456;
  float: right;
}

#createmessage input.text, #createmessage input.file {
  display: block;
  width: 32.3em;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: .25em
}

#createmessage input.file {
  width: auto;
  float: left;
}

#createmessage textarea {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 1.2em;
  width: 32em;
  padding: .5em;
}

#create_link_types {
  padding: .5em;
  margin-bottom: 1em;
}

#create_link_types li {
  float: left;
}

#create_link_types li a {
  display: block;
  height: 4.4em;
  width: 4.4em;
  color: #FFF;
  text-indent: -9999em;
  background: transparent url("/images/icons/text.png") no-repeat scroll center center;
  padding: .5em;
  margin-right: .5em;
}

#create_link_types li a.image { background-image: url("/images/icons/image.png");}
#create_link_types li a.video { background-image: url("/images/icons/video.png");}
#create_link_types li a.link { background-image: url("/images/icons/link.png");}

#create_link_types li a:hover, #create_link_types li a.active {
  background-color: #DCDCDC;
}

#createmessage .t, #createmessage .v, #createmessage .i, #createmessage .l { display: none;}

#createmessage.text fieldset.t {
  display: block;
}
#createmessage.video fieldset.v {
  display: block;
}
#createmessage.image fieldset.i {
  display: block;
}
#createmessage.link fieldset.l {
  display: block;
}
